.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 20px);
    color: #ccc;
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    padding-top: 20px;
  }

  .buttonContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
  }
  
  .editBtn {
    position: absolute;
    top: 10px;
    right: 90px; /* Adjusted right positioning */
    background-color: #444;
    color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
  
  .editBtn:hover {
    background-color: #555;
  }
  
  .deleteBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #444;
    color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /* Added font-size to make it look the same as the edit button */
  }
  
  .deleteBtn:hover {
    background-color: #555;
  }

  .prompt-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .title {
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .label {
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  
  .input {
    margin-bottom: 30px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
  }

  .labelPrompt {
    text-transform: capitalize;
  }
  
  .inputPrompt {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
  }
  
  .submitBtn {
    width: 200px;
    background-color: #444;
    color: #ccc;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: auto;
    margin-bottom: 1rem;
  }
  
  .submitBtn:hover {
    background-color: #555;
  }

  .submitBtnDisabled {
    background-color: #666;
    color: #999;
    cursor: not-allowed;
  }

  .outputContainer {
    width: 80%;
    min-height: 50vh;
    max-height: 50vh;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #222;
    margin-top: 20px;
    position: relative;
    overflow-y: auto;
  }
  
  .copyBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #444;
    color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    opacity: 0.7;
    border-radius: 5px;
  }
  
  .copyBtn:hover {
    background-color: #555;
  }

  .cancelBtn {
    width: 200px;
    margin: auto;
    background-color: #444;
    color: #ccc;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .cancelBtn:hover {
    background-color: #555;
  }
  
  .inputGroupPrompt {
    width: 100%;
  }

  .preOutput strong {
    font-weight: bold;
    color: #70b4eb;
  }

  @media (max-width: 768px) {
    .form {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }

    .editBtn {
      top: 50px;
    }
    
    .deleteBtn {
      top: 50px;
    }
    
  }

  