.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 20px);
  color: #ccc;
  font-family: 'Roboto', sans-serif;
  background-color: #333;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

ol,
ul {
  list-style-position: inside;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}

ul {
  list-style-type: disc;
}

.outputContainer2 {
  width: 80%;
  min-height: 40vh;
  max-height: 40vh;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #222;
  margin-top: 20px;
  position: relative;
  overflow-y: auto;
}

.outputStyling {
  color: #ccc;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  text-align: left;
  margin-bottom: 1px;
}

.outputStylingStrong {
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  text-align: left;
  font-weight: bold;
  color: #70b4eb;
}


.copyBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #444;
  color: #ccc;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  opacity: 0.7;
  border-radius: 5px;
}
.copyBtn:hover {
  background-color: #555;
}

/* Add the following rule at the end of the file */
@media (max-width: 768px) {
  .outputContainer2 {
    width: 95%;
  }
}