.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #222;
    padding: 10px;
    z-index: 1000;
  }
  
  .hamburger-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #222;
    width: 100%;
    z-index: 999;
  }
  
  .mobile-nav .dropdown-menu {
    top: 100%;
  }
  
  
  .dropdown-menu.open {
    max-height: 500px;
  }
  
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dropdown-menu li {
    margin-bottom: 15px;
  }
  
  .dropdown-menu a {
    color: #ccc;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 5px 10px;
  }
  
  .dropdown-menu a.active {
    color: #fff;
    font-weight: bold;
  }
  
  .separator {
    height: 1px;
    width: 95%;
    background-color: #555;
    margin: 10px 0;
  }
  
  .create-prompt-btn {
    display: flex;
    align-items: center;
    background-color: #444;
    justify-content: center;
    color: #ccc;
    border: none;
    padding: 10px;
    margin: 10px 25%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.create-prompt-btn:hover {
  background-color: #555;
}

.create-prompt-btn i {
  margin-right: 5px;
  text-align: center;
}

@media (min-width: 769px) {
  .mobile-nav {
    display: none;
  }
}
